.navbar {
    background: goldenrod;
    height: 5rem;
    display: flex;
    align-items: center;
}
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
  
  }
  .nav-links {
    display: flex;
    align-items: center;
    margin: auto;
  }
  .nav-links a {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  .logo {
    width:150px;
    height: 80px;
  
  }
  ul {
    list-style-type: none;
  }
